<div class="py-5">
  <div class="container">
    <div
      style="
        background-image: radial-gradient(
          circle,
          rgba(139, 92, 246, 1) 0%,
          rgba(13, 18, 36, 1) 100%
        );
        height: 2px;
      "
    ></div>

    <div class="row text-center py-4">
      <div class="col-sm-12">
        <span class="pills">{{ "CONTACT.TITLE" | transloco }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 p-md-5">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="contact-form"
        >
          <div class="form-group">
            <input
              type="text"
              formControlName="name"
              placeholder="{{ 'CONTACT.NAME' | transloco }}"
              [class.is-invalid]="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
            />
            @if (contactForm.get('name')?.invalid &&
            contactForm.get('name')?.touched) {
            <div class="invalid-feedback">Introduce tu nombre.</div>
            }
          </div>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              placeholder="Email"
              [class.is-invalid]="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            />
            @if (contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched) {
            <div class="invalid-feedback">
              Por favor, introduce un email válido.
            </div>
            }
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="subject"
              placeholder="Asunto"
              [class.is-invalid]="
                contactForm.get('subject')?.invalid &&
                contactForm.get('subject')?.touched
              "
            />
            @if (contactForm.get('subject')?.invalid &&
            contactForm.get('subject')?.touched) {
            <div class="invalid-feedback">El asunto es requerido</div>
            }
          </div>

          <div class="form-group">
            <textarea
              formControlName="message"
              placeholder="Escribe aquí..."
              rows="5"
              [class.is-invalid]="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            >
            </textarea>
            @if (contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched) {
            <div class="invalid-feedback">El mensaje es requerido.</div>
            }
          </div>
          <button
            type="submit"
            class="btn py-3 text-center"
            [disabled]="contactForm.invalid || isSubmitting"
          >
            @if (isSubmitting) {
            <span>Enviando...</span>
            } @else {
            <span
              >Enviar <img src="assets/images/icons/message.svg" alt="" />
            </span>
            }
          </button>
        </form>
      </div>

      <!-- <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Formulario completo: { {{ contactForm.value | json }} }</p>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <h4>Valores</h4>
            <p>Nombre:  {{ contactForm.get('name')?.value }} </p>
            <p>Email:  {{ contactForm.get('email')?.value }} </p>
            <p>Asunto:  {{ contactForm.get('subject')?.value }} </p>
            <p>Mensaje:  {{ contactForm.get('message')?.value }} </p>
          </div>
      
          <div class="col-md-6">
            <h4>Errores</h4>
            <p>Nombre válido:  {{ contactForm.get('name')?.valid }} </p>
            <p>Errores nombre:  {{ contactForm.get('name')?.errors | json }} </p>
            <p>Email válido: {{ contactForm.get('email')?.valid }} </p>  
            <p>Errores email: {{ contactForm.get('email')?.errors | json }} </p>
            <p>Asunto válido: {{ contactForm.get('subject')?.valid }} </p>
            <p>Errores asunto: {{ contactForm.get('subject')?.errors | json }} </p>
            <p>Mensaje válido: {{ contactForm.get('message')?.valid }} </p>
            <p>Errores mensaje: {{ contactForm.get('message')?.errors | json }} </p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container-fluid">
      <div
        style="
          background-image: radial-gradient(
            circle,
            rgba(139, 92, 246, 1) 0%,
            rgba(13, 18, 36, 1) 100%
          );
          height: 2px;
        "
      ></div>
      <div class="footer">
        <div class="row py-3 d-flex justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="devloper-details">
              <div style="font-size: smaller; color: rgb(182, 182, 182)">
                <i class="fas fa-paint-brush"></i> 𝔻𝕖𝕤𝕚𝕘𝕟𝕖𝕕 &
                <i class="fas fa-laptop-code"></i> 𝔻𝕖𝕧𝕖𝕝𝕠𝕡𝕖𝕕 by
                <a href="https://www.linkedin.com/in/otilianicola/"
                  ><span> Otilia Nicola</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
