<div class="py-5">
  <div class="container">
    <div
      style="
        background-image: radial-gradient(
          circle,
          rgba(139, 92, 246, 1) 0%,
          rgba(13, 18, 36, 1) 100%
        );
        height: 2px;
      "
    ></div>

    <div class="row text-center py-4">
      <div class="col-sm-12">
        <span class="pills">{{ "CONTACT.TITLE" | transloco }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 p-md-5">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="contact-form"
        >
          <div class="form-group">
            <input
              type="text"
              formControlName="name"
              placeholder="{{ 'CONTACT.NAME' | transloco }}"
              [class.is-invalid]="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
            />
            @if (contactForm.get('name')?.invalid &&
            contactForm.get('name')?.touched) {
            <div class="invalid-feedback">{{ 'CONTACT.NAME_FEEDBACK' | transloco }}</div>
            }
          </div>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              placeholder="{{ 'CONTACT.EMAIL' | transloco }}"
              [class.is-invalid]="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            />
            @if (contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched) {
            <div class="invalid-feedback">
              {{ 'CONTACT.EMAIL_FEEDBACK' | transloco }}
            </div>
            }
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="subject"
              placeholder="{{ 'CONTACT.SUBJECT' | transloco }}"
              [class.is-invalid]="
                contactForm.get('subject')?.invalid &&
                contactForm.get('subject')?.touched
              "
            />
            @if (contactForm.get('subject')?.invalid &&
            contactForm.get('subject')?.touched) {
            <div class="invalid-feedback">{{ 'CONTACT.SUBJECT_FEEDBACK' | transloco }}</div>
            }
          </div>

          <div class="form-group">
            <textarea
              formControlName="message"
              placeholder="{{ 'CONTACT.MESSAGE' | transloco }}"
              rows="5"
              [class.is-invalid]="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            >
            </textarea>
            @if (contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched) {
            <div class="invalid-feedback">{{ 'CONTACT.MESSAGE_FEEDBACK' | transloco }}</div>
            }
          </div>
          <button
            type="submit"
            class="btn py-3 text-center"
            [disabled]="contactForm.invalid || isSubmitting"
          >
            @if (isSubmitting) {
            <span>{{ 'CONTACT.SENDING' | transloco }}</span>
            } @else {
            <span
              >{{ 'CONTACT.SEND' | transloco }} <img src="assets/images/icons/message.svg" alt="" />
            </span>
            }
          </button>
        </form>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 p-md-5">
        <div class="code-preview">
          <h4>Form Data</h4>
          <pre><code>{{ contactForm.value | json }}</code></pre>
          
          <h4>Form Status</h4>
          <pre><code>{{ formStatus | json }}</code></pre>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div
        style="
          background-image: radial-gradient(
            circle,
            rgba(139, 92, 246, 1) 0%,
            rgba(13, 18, 36, 1) 100%
          );
          height: 2px;
        "
      ></div>
      <div class="footer">
        <div class="row py-3 d-flex justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="devloper-details">
              <div style="font-size: smaller; color: rgb(182, 182, 182)">
                <span [innerHtml]="'FOOTER.TEXT_FOOTER' | transloco"></span>
                <a href="https://www.linkedin.com/in/otilianicola/">
                  <span class="link-name">Otilia Nicola</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
