@use "../../../theme/variables" as *;

.contact-info {
  background: var(--card-background);
  padding: 2rem;
  border-radius: 10px;
  height: 100%;
}

.contact-form {
  background: var(--card-background);
  padding: 2rem;
  border-radius: 10px;

  .form-group {
    margin-bottom: 1.5rem;

    input,
    textarea {
      width: 100%;
      padding: 0.8rem;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      color: var(--text-color);
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--primary-color);
        background: rgba(255, 255, 255, 0.1);
      }

      &.is-invalid {
        border-color: #dc3545;
      }
    }
  }
}

.btn {
  background: linear-gradient(
    31deg,
    var(--primary-color) 0%,
    rgba(117, 0, 251, 1) 97%
  );
  border-radius: 35px;
  border: none;
  width: 40%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    height: 60px;

    img {
      padding-left: 5px;
    }
  }
}

.email,
.address {
  display: flex;
  align-items: center;
}

.details {
  img {
    height: 40px;
    width: 40px;
    background: #8b98a5;
    border-radius: 50%;
    margin: 10px;
    padding: 8px;
  }
}

.social-icon {
  padding: 20px 0px;

  img {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
}

.devloper-details {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  place-items: center;

  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

.code-preview {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 1.5rem;
  color: #16f2b3;
  font-family: monospace;
  min-height: 536px;
  
  pre {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
  }
}

.footer {
  text-align: center;
  padding: 10px;
  color: #333;
}

.footer .heart {
  color: red; 
}

.footer a:hover {
  text-decoration: underline; 
}

@media (min-width: 320px) and (max-width: 770.98px) {
  .contact-form, .code-preview{
    margin-bottom: 1rem;
  }
  .btn{
    width: 100%; 
    min-width: 120px;
    font-size: 16px;
    &::before{
      width: 98%;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .contact-info {
    margin-bottom: 2rem;
  }
}
