<div class="background-container">
  <div>
    <div class="container navbar">
      <a class="nav-heading">OTILIA NICOLA</a>
      <div class="menu-mobile d-none d-sm-none d-lg-block">
        <ul class="navbar-nav  custom-nav d-flex flex-md-row flex-sm-column align-items-center gap-4 gap-sm-1">
          <li class="nav-item"><a class="nav-link custom-link" href="#skills">{{ 'NAV.SKILLS' | transloco }}</a></li>
          <li class="nav-item"><a class="nav-link custom-link" href="#projects">{{ 'NAV.PROJECTS' | transloco }}</a></li>
          <li class="nav-item"><a class="nav-link custom-link" href="#resources">{{ 'NAV.LEARNING_PATH' | transloco }}</a></li>
          <!-- <li class="nav-item"><a class="nav-link custom-link" href="#tips">{{ 'NAV.TIPS' | transloco }}</a></li> -->
          <li class="nav-item"><a class="nav-link custom-link" href="#contact">{{ 'NAV.CONTACT' | transloco }}</a></li>
          <li class="nav-item dropdown custom-link">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onLangDropdownClick($event)">
              {{selectedLang}}
            </a>
            <ul class="dropdown-menu">
              @for (lang of availableLangs; track $index) {
                <li><a class="dropdown-item" (click)="changeLang(lang)">{{lang}}</a></li>
              }
            </ul>
          </li>
        </ul>
      </div>
      <div class="d-nones d-lg-none ms-auto dropdown">
        <button class="btn btn-secondary d-block d-sm-block d-md-block d-md-block d-lg-none dropdown-toggle p-0 btn-mobile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </button>
        <div class="dropdown-menu menu-mobile">
          <ul class="navbar-nav  custom-nav d-flex flex-md-row flex-sm-column align-items-center gap-4 gap-sm-1">
            <li class="nav-item dropdown-item"><a class="nav-link custom-link" href="#skills">{{ 'NAV.SKILLS' | transloco }}</a></li>
            <li class="nav-item dropdown-item"><a class="nav-link custom-link" href="#projects">{{ 'NAV.PROJECTS' | transloco }}</a></li>
            <li class="nav-item dropdown-item"><a class="nav-link custom-link" href="#resources">{{ 'NAV.LEARNING_PATH' | transloco }}</a></li>
            <!-- <li class="nav-item dropdown-item"><a class="nav-link custom-link" href="#tips">{{ 'NAV.TIPS' | transloco }}</a></li> -->
            <li class="nav-item dropdown-item"><a class="nav-link custom-link" href="#contact">{{ 'NAV.CONTACT' | transloco }}</a></li>
            <li class="nav-item dropdown custom-link dropdown-item">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onLangDropdownClick($event)">
                {{selectedLang}}
              </a>
              <ul class="dropdown-menu">
                @for (lang of availableLangs; track $index) {
                  <li><a class="dropdown-item" (click)="changeLang(lang)">{{lang}}</a></li>
                }
              </ul>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1">
          <div class="hero-section my-lg-5">
            <h1>
              {{ 'HOME.TITLE' | transloco }}<br />
              {{ 'HOME.TITLE1' | transloco }}
              <span style="color: #16f2b3">{{ 'HOME.TITLE2' | transloco }}</span>.
            </h1>
            <p>
              {{ 'HOME.DESCRIPTION' | transloco }}
            </p>
            <div class="social-icon py-2">
              <a
                href="https://github.com/otilianicola"
                class="mx-2"
                target="_blank"
              >
                <img src="assets/images/icons/pink-git.svg" alt="GitHub" />
              </a>
              <a
                href="https://linkedin.com/in/otilianicola"
                class="mx-2"
                target="_blank"
              >
                <img
                  src="assets/images/icons/pink-linkdin.svg"
                  alt="LinkedIn"
                />
              </a>
            </div>
            <div class="hero-button py-3">
                <button class="btn py-3"  onclick="document.getElementById('contact').scrollIntoView({ behavior: 'smooth' })">
                  {{ 'HOME.CONTACT_BTN' | transloco }}
                  <img src="assets/images/icons/user.svg" alt="" class="mb-1"/>
                </button>
                <button class="btn2 py-3" (click)="downloadCv()">
                  {{ 'HOME.DOWNLOAD_CV' | transloco }}
                  <img src="assets/images/icons/download.svg" alt="" />
                </button>
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
        >
          <div class="profile-image">
            <div class="face"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
