@use "../../../theme/variables" as *;

.background-container {
  position: relative;
  height: auto;
  width: auto;
  background: #0d1224;
  color: #fff;
  background-image: url("/assets/images/section.svg");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
  min-height: 0px !important;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 20px;
}

.nav-heading {
  color: #16f2b3;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.nav-links {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(13, 18, 36, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: 0.3s;
  z-index: 999;
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #ec4899;
    }
  }
  &.open {
    right: 0;
  }
}

.custom-nav {
  .nav-link {
    color: #fff !important;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #ec4899;
      transition: width 0.3s ease, left 0.3s ease;
      transform: translateX(-50%);
    }

    &:hover {
      color: #ffffff !important;

      &::before {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .dropdown-toggle {
    &::after {
      border-top-color: #fff;
      margin-left: 0.5rem;
      
    }

    &:hover::after {
      border-top-color: #ffffff;
    }
  }

  .dropdown-menu {
    position: absolute;
    margin-top: 0 !important;
    min-width: 80px !important;
    width: fit-content;
    text-align: center;
    background: transparent;
    left: 18%;
    top: 90%;
    backdrop-filter: blur(10px);
    transform: translateY(0);
    transition: transform 0.2s;

    .dropdown-item {
      text-transform: uppercase;
      color: #fff;
      padding: 0.5rem 1.5rem;

      &:hover {
        background: transparent;
        color: #ec4899;
      }
    }
  }
}

.hero-section h1 {
  font-weight: 800;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 440px;
  height: 440px;

  .face {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/profile.JPG");
    background-size: cover;
    border-radius: 50%;
    border: solid 5px #ec4899;
    animation: flipCard 2s alternate cubic-bezier(0.32, 0.63, 0.82, 0.8);
  }
}

@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
    background-image: url("../../../assets/images/profile-white.JPG");
  }
  20% {
    transform: rotateY(360deg);
    background-image: url("../../../assets/images/profile-white.JPG");
  }
  40% {
    transform: rotateY(0deg);
    background-image: url("../../../assets/images/profile-white.JPG");
  }
  60% {
    transform: rotateY(360deg);
    background-image: url("../../../assets/images/profile-white.JPG");
  }
  80% {
    transform: rotateY(0deg);
    background-image: url("../../../assets/images/profile-white.JPG");
  }
  100% {
    transform: rotateY(360deg);
    background-image: url("../../../assets/images/profile.JPG");
  }
}

.btn2 {
  background: linear-gradient(
    31deg,
    rgba(236, 72, 153, 1) 0%,
    rgba(117, 0, 251, 1) 97%
  );
  border-radius: 30px;
  border: none;
  height: 55px;
  width: 180px;
  color: #fff;
  font-weight: 500;
  transition: width 0.3s;
}

.btn {
  height: 55px;
  width: 180px;
  padding: 20px;
  margin-right: 1rem;
  border: none;
  outline: none;
  position: relative;
  border-radius: 30px;
  background: linear-gradient(
    17deg,
    rgba(0, 255, 163, 1) 7%,
    rgba(220, 31, 255, 1) 100%
  );
  cursor: pointer;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #0d1224;
    border-radius: 30px;
    z-index: -1;
  }

  &:hover {
    height: 60px;
    width: 185px;
    background: linear-gradient(
      17deg,
      rgba(220, 31, 255, 1) 7%,
      rgba(0, 255, 163, 1) 100%
    );
  }

  &:hover::after {
    color: white;
  }
}

.nav-toggle {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 770.98px) {
  .background-container {
    top: 50%;
    background-size: 150vw;
  }
  .profile-image{
    height: 300px;
    .face{
      height: 300px;
    }
  }
  .menu-mobile {
    background-color: var(--background-color);
    background: linear-gradient(
      17deg,
      rgb(220, 31, 255) 7%,
      rgb(0, 255, 163) 100%
    );
    top: 115%;
    left: -55%;
  }

  .hero-section {
    padding: 10px;
  }

  .hero-button {
    .btn{
      margin-bottom: 1rem;
      font-size: 16px;
      width: 100%;
    }
    .btn2{
      width: 100%;
    }
  }
  .about p {
    font-size: 14px;
  }
  .nav-toggle {
    display: block;
  }
  .dropdown-item {
    text-transform: uppercase;
    color: #fff;
    padding: 0.5rem 1.5rem;

    &:hover {
      background: transparent;
      color: #fff;
    }
  }

    .btn-mobile{
      width: 70px;
      height: 40px;
      &:hover{
        width: 70px;
      height: 40px;
      }
    }


}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .nav-heading {
    order: 1;
  }
  .d-nones {
    order: 2;
    margin: 0 auto;
  }

  .nav-toggle {
    order: 3;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}
