<div class="background-container">
  <div>
    <div class="container navbar">
      <a class="nav-heading">OTILIA NICOLA</a>
      <div class="nav-toggle" (click)="toggleNav()">
        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff"></i>
      </div>
      <ul class="nav-links" [class.open]="isNavOpen">
        <li (click)="closeNav()" class="text-end">
          <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff"></i>
        </li>
        <li><a href="#skills" (click)="closeNav()">{{ 'NAV.SKILLS' | transloco }}</a></li>
        <li><a href="#projects" (click)="closeNav()">{{ 'NAV.PROJECTS' | transloco }}</a></li>
        <li><a href="#resources" (click)="closeNav()">{{ 'NAV.LEARNING_PATH' | transloco }}</a></li>
        <li><a href="#tips" (click)="closeNav()">{{ 'NAV.TIPS' | transloco }}</a></li>
        <li><a href="#contact" (click)="closeNav()">{{ 'NAV.CONTACT' | transloco }}</a></li>
      </ul>
      <div class="d-none d-md-block ms-auto">
      <ul class="navbar-nav custom-nav d-flex flex-row align-items-center gap-4">
        <li class="nav-item"><a class="nav-link custom-link" href="#skills">{{ 'NAV.SKILLS' | transloco }}</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#projects">{{ 'NAV.PROJECTS' | transloco }}</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#resources">{{ 'NAV.LEARNING_PATH' | transloco }}</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#tips">{{ 'NAV.TIPS' | transloco }}</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#contact">{{ 'NAV.CONTACT' | transloco }}</a></li>
        <li class="nav-item dropdown custom-link">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{selectedLang}}
          </a>
          <ul class="dropdown-menu">
            @for (lang of availableLangs; track $index) {
              <li><a class="dropdown-item" (click)="changeLang(lang)">{{lang}}</a></li>
            }
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1">
          <div class="hero-section my-lg-5">
            <h1>
              {{ 'HOME.TITLE' | transloco }}<br />
              {{ 'HOME.TITLE1' | transloco }}
              <span style="color: #16f2b3">{{ 'HOME.TITLE2' | transloco }}</span>.
            </h1>
            <p>
              {{ 'HOME.DESCRIPTION' | transloco }}
            </p>
            <div class="social-icon py-2">
              <a
                href="https://github.com/otilianicola"
                class="mx-2"
                target="_blank"
              >
                <img src="assets/images/icons/pink-git.svg" alt="GitHub" />
              </a>
              <a
                href="https://linkedin.com/in/otilianicola"
                class="mx-2"
                target="_blank"
              >
                <img
                  src="assets/images/icons/pink-linkdin.svg"
                  alt="LinkedIn"
                />
              </a>
            </div>
            <div class="hero-button py-3">
              <a href="#contact" class="mx-2">
                <button class="btn py-3">
                  {{ 'HOME.CONTACT_BTN' | transloco }}
                  <img src="assets/images/icons/user.svg" alt="" class="mb-1" />
                </button>
              </a>
                <button class="btn2 py-3 mx-2" (click)="downloadCv()">
                  {{ 'HOME.DOWNLOAD_CV' | transloco }}
                  <img src="assets/images/icons/download.svg" alt="" />
                </button>
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
        >
          <div class="profile-image">
            <div class="face"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
