<div class="background-container">
    <div class="nav">
      <div class="container navbar">
        <!-- Navigation code here -->
      </div>
    </div>
    <div id="homepage">
        <app-homepage></app-homepage>
      </div>
  
    <div id="skills">
      <app-skills></app-skills>
    </div>
  
    <div id="projects">
      <app-projects></app-projects>
    </div>
  
    <div id="resources">
      <app-resources></app-resources>
    </div>
  
    <div id="contact">
      <app-contact></app-contact>
    </div>
  </div>