@use "../../../theme/variables" as *;


.project-card {
  background: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--hover-color);

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color)
    );
    z-index: -1;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  h3 {
    color: var(--hover-color);
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  p {
    color: var(--text-color-secondary);
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  .badge {
    background: var(--border-color);
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 0.85rem;
    color: var(--text-color);
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  .links {
    margin-top: 20px;
    display: flex;
    gap: 1rem;

    a {
      padding: 8px 15px;
      border-radius: 5px;
      background: var(--hover-color);
      color: white;
      text-decoration: none;
      font-size: 0.9rem;
      transition: all 0.3s ease;

      &:hover {
        background: var(--hover-color-dark);
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 768px) {
  .project-card {
    .links {
      flex-direction: column;

      a {
        text-align: center;
      }
    }
  }
}
